
<%- include("header") -%>

<h2>This is a about page for to do list website</h2>

<p> In this website you can add or delete your activities to home as well as work to do lists</p>

<%- include("footer") -%>
